In [1]:
# import the pandas library
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\student\Downloads\bank_marketing.csv")

In [3]:
# To print no. of samples and attributes
print(df.shape)

(45211, 17)

In [4]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [5]:
# To print first five samples
print(df.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown  NaN   may       261         1     -1         0  unknown  no
1  unknown  NaN   may       151         1     -1         0  unknown  no
2  unknown  NaN   may        76         1     -1         0  unknown  no
3  unknown  NaN   may        92         1     -1         0  unknown  no
4  unknown  NaN   may       198         1     -1         0  unknown  no

In [6]:
#Describing dataset 
print(df.describe())

                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45042.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.846965    258.163080      2.763841
std       10.618762    3044.765829      8.311659    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

In [7]:
#New dataframe 
new_df = df
#new_df.isnull()
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())
#print(new_df.shape) 
#new_df.duplicated()

age            0
job            0
marital        0
education      0
default        0
balance        0
housing        0
loan           0
contact        0
day          169
month          0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64
Missing values distribution:
age          0.000000
job          0.000000
marital      0.000000
education    0.000000
default      0.000000
balance      0.000000
housing      0.000000
loan         0.000000
contact      0.000000
day          0.003738
month        0.000000
duration     0.000000
campaign     0.000000
pdays        0.000000
previous     0.000000
poutcome     0.000000
y            0.000000
dtype: float64

In [8]:
# #Checking for duplicates
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

False
0        False
1        False
2        False
3        False
4        False
         ...
45206    False
45207    False
45208    False
45209    False
45210    False
Length: 45211, dtype: bool
(45211, 17)

In [9]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
age            int64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day          float64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
y             object
dtype: object

In [15]:
#Replacing string values with integer 
new_df["housing"].replace({"yes":"1", "no":"0"}, inplace = True) 
new_df["loan"].replace({"yes":"1", "no":"0"}, inplace = True) 
new_df["marital"].replace({"married":"1", "single":"0"}, inplace = True) 
new_df["y"].replace({"yes":"1", "no":"0"}, inplace = True) 
print(new_df.head())
print(new_df.shape)

   age           job marital education default  balance housing loan  contact  \
0   58    management       1         2      no     2143       1    0  unknown
1   44    technician       0         1      no       29       1    0  unknown
2   33  entrepreneur       1         1      no        2       1    1  unknown
3   47   blue-collar       1         3      no     1506       1    0  unknown
4   33       unknown       0         3      no        1       0    0  unknown

   day month  duration  campaign  pdays  previous poutcome  y
0  NaN   may       261         1     -1         0  unknown  0
1  NaN   may       151         1     -1         0  unknown  0
2  NaN   may        76         1     -1         0  unknown  0
3  NaN   may        92         1     -1         0  unknown  0
4  NaN   may       198         1     -1         0  unknown  0
(45211, 17)

In [16]:
#Finding unique values in "job" 
print(new_df["job"].unique())

['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']

In [17]:
#Replacing string values with int
 
new_df['education'].replace({'primary':'0','secondary':'1','tertiary':'2','unknown':' 3'}, inplace = True)
print(new_df.head())

   age           job marital education default  balance housing loan  contact  \
0   58    management       1         2      no     2143       1    0  unknown
1   44    technician       0         1      no       29       1    0  unknown
2   33  entrepreneur       1         1      no        2       1    1  unknown
3   47   blue-collar       1         3      no     1506       1    0  unknown
4   33       unknown       0         3      no        1       0    0  unknown

   day month  duration  campaign  pdays  previous poutcome  y
0  NaN   may       261         1     -1         0  unknown  0
1  NaN   may       151         1     -1         0  unknown  0
2  NaN   may        76         1     -1         0  unknown  0
3  NaN   may        92         1     -1         0  unknown  0
4  NaN   may       198         1     -1         0  unknown  0

In [18]:
#Describing data after preprocessing 
print(new_df.shape) 
print(new_df.head())

(45211, 17)
   age           job marital education default  balance housing loan  contact  \
0   58    management       1         2      no     2143       1    0  unknown
1   44    technician       0         1      no       29       1    0  unknown
2   33  entrepreneur       1         1      no        2       1    1  unknown
3   47   blue-collar       1         3      no     1506       1    0  unknown
4   33       unknown       0         3      no        1       0    0  unknown

   day month  duration  campaign  pdays  previous poutcome  y
0  NaN   may       261         1     -1         0  unknown  0
1  NaN   may       151         1     -1         0  unknown  0
2  NaN   may        76         1     -1         0  unknown  0
3  NaN   may        92         1     -1         0  unknown  0
4  NaN   may       198         1     -1         0  unknown  0

In [19]:
new_df.to_csv('bank_1.csv', header = True ,index = False)